<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	{%include "script.html" %}
	<link rel="stylesheet" type="text/css" href="static/css/user_form.css">
</head>
<body>
	<div class="container-fluid" style="margin-left: -200px;margin-top: -20px;">
	{%include "header.html"%}
	<div class="user_form">
		<form class="form-inline" method="post" action="/edit_user" onsubmit="return inputCheck()">
			{% csrf_token %}
			<input type="hidden" id="userId" name="userId" value="{{userInfo.id}}">
			<input type="hidden" id="flagValue" value="{{userInfo.flag}}">
			<fieldset>
				 <legend>编辑用户</legend>
				 <p><label>员工号：</label><input type="text" id="eId" name="eId" value="{{userInfo.eId}}" /></p>
				 <p><label>用户名：</label><input type="text" id="eName" name="eName" value="{{userInfo.eName}}"/></p> 
				 <p style="margin-left: 13px;"><label>密码：</label><input type="password" id="password" name="password" placeholder="请输入密码" /></p>
				 <p><label style="margin-left: 13px;">身份：</label>
				 	<select id="flag" name="flag">
						<option value="3">用户</option>
						<option value="2">厨师</option>
						<option value="1">管理员</option>			 	
				 	</select></p>
				 <button type="submit" class="btn btn-success" style="margin-right: -220px;">保存</button>
			</fieldset>
		</form>
	</div>
	</div>
<script type="text/javascript" src="static/js/edit_user.js"></script>
</body>
</html>