<!DOCTYPE html>
<html>
<head>
	<title></title>
	{%include "script.html" %}
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body>
	<div class="container-fluid" style="margin-left: -200px;margin-top: -20px;">
	{%include "header.html" %}
	<div class="login_form">
		<form class="form-inline" method="post" action="/login">
			{% csrf_token %}
			<fieldset>
				 <legend>用户登录</legend>
				 <p><label>用户名：</label><input type="text" name="username" placeholder="请输入用户名" /></p> 
				 <p style="margin-left: 10px;"><label>密  码：</label><input type="password" name="password" placeholder="请输入密码" /></p>
				 <input type="hidden" name="next" value="{{ next }}">
				 <button type="submit" class="btn btn-success" style="margin-right: -220px;">登录</button>
			</fieldset>
		</form>
	</div>
	</div>
</body>
</html>
