<!-- Le styles -->
<link href="static/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="static/css/layoutit.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="static/js/html5shiv.min.js"></script>
	<![endif]-->

<script type="text/javascript" src="static/js/jquery-2.0.0.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<![endif]-->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
