<!DOCTYPE html>
<html>
<head>
	<title></title>
	{%include "script.html"%}
	<style type="text/css">
		#mTable th{
			vertical-align: middle;
    		text-align: center; 
		}

		#mTable td{
			vertical-align: middle;
    		text-align: center; 
		}
	</style>
</head>
<body>
<div class="container-fluid" style="margin-left: -200px;margin-top: -20px;">
	{%include "header.html"%}
	<div class="row-fluid" id="mTable">
		<form class="form-search" action="/userAdmin" method="post">
				{% csrf_token %}
				<input class="input-small search-query" name="eId" placeholder="请输入员工号" type="text"/>
				<input class="input-small search-query" name="eName" placeholder="请输入姓名" type="text"/>
				<button type="submit" class="btn">查找</button>
			</form>
		<table class="table table-hover table-bordered">
			<thead>
				<tr style="background-color: #dff0d8">
					<th>
						员工号
					</th>
					<th>
						用户名
					</th>
					<th>
						密码
					</th>
					<th>
						身份标识
					</th>
					<th>
						操作
					</th>					
				</tr>
			</thead>
			<tbody>
				{% for i in userList %}
					<tr class="success">
						<td>{{i.1}}</td>
						<td>{{i.2}}</td>
						<td>******</td>
						<td>{{i.3}}</td>
						<td>
							<a href="/edit_user?id={{i.0}}&eId={{i.1}}&eName={{i.2}}&flag={{i.3}}"><button type="button" class="btn">编辑</button></a>
							<a  href="/del_user?id={{i.0}}" onClick="return confirm('确定删除?');"><button type="button" class="btn btn-danger">删除</button></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</body>
</html>